.main-page {
    width: 100vw;
    height: 100vh;
}
.chief {
    background-image: url('https://github.com/porterwilcox/bootstrap-challenge-4of6/blob/master/assets/images/Squamish%20Chief_1.jpg?raw=true');
    width: 100vw;
    height: fit-content;
}

#rack {
    border-radius: 50%;
    opacity: 0.9;
    padding-top: 3%;
    padding-bottom: 25%;
}

.right {
    float: right;
}

.left {
    float: left;
}

.white {
    color: white;
    padding-top: 4%;
    font-family: 'Righteous';
    font-size: 4em;
}

.colorful {
    background: linear-gradient(90deg, #22B4DB 20%, #EBC262 35%, #EBC262 50%, #911D35 60%, #911D35 75%, #53704E 85%, #53704E 100%);
    border-radius: 5%;
}

.texty {
    color: black;
    font-size: 3em;
    text-shadow: 10px 10px 8px white;
    font-family: 'Permanent Marker';
}

header>div {
    padding-top: 3%;    
}

.specs {
    background-color: #53704E;
    height: fit-content;
}

.button {
    padding-top: 8%;
    font-family: 'Permanent Marker';
    font-size: 2em;
}

button {
    border: none;
    background: linear-gradient(90deg, #22B4DB 20%, #EBC262 35%, #EBC262 50%, #911D35 60%, #911D35 75%, #53704E 85%, #53704E 100%);
    opacity: 0.7;
}

button:hover {
    background: linear-gradient(90deg, #22B4DB 20%, #EBC262 35%, #EBC262 50%, #911D35 60%, #911D35 75%, #53704E 85%, #53704E 100%);
    opacity: 1;
}

.wht {
    color: white;
}

.news {
    background-color: #EBC262;
    height: fit-content;
}

.p-t-3 {
    padding-top: 3%;
}

.p-t-1 {
    padding-top: 1%;
}

.p-b-1 {
    padding-bottom: 1%;
}

input {
    margin: auto;
    text-align: center;
}
